<meta name="description" content="{{meta_desc}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@flbeachinsider" />
    <meta name="twitter:creator" content="@flbeachinsider" />
    <meta property="twitter:title" content="{{meta_title}}" />
    <meta name="twitter:description" content="{{meta_desc}}"/>
    <meta name="twitter:image" content="{{meta_img}}"/>
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{meta_domain}}{{meta_path}}" />
    <meta property="og:title" content="{{meta_title}}" />
    <meta property="og:site_name" content="Florida Beach Insider"/>
    <meta property="og:description" content="{{meta_desc}}" />
    <meta property="og:image" content="{{meta_img}}" />
    {% if meta_canonical%}
      <link rel="canonical" href="{{meta_canonical}}">
    {% endif %}